label.form-label {
    font-weight: bold;
}

.input-group-text {
    background-color: #FFFFFF;
    border-color: #ced4da;
}

body .tabla_insumos_container {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#tabla_insumos {
    width: 100% !important;
}

/* Estilos para los inputs con símbolos a la izquierda y derecha */
.input-symbol-left {
    color: #2C2C2C;
    font-size: 1rem;
    margin-right: 0.5em;
    position: static;
}

.result-symbol {
    display: inline-flex;
    align-items: center;
    min-height: 38px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.form-result {
    background: transparent;
    border: none;
    min-width: 2.5em;
    text-align: right;
    font-size: 1rem;
    margin-right: 0.25em;
    margin-left: 0.25em;
    padding: 0;
    line-height: 38px;
    font-weight: 500;
    color: #2C2C2C;
}

.input-symbol-right {
    color: #2C2C2C;
    font-size: 1rem;
    margin-left: 0.25em;
    margin-right: 0.25em;
    position: static;
}