:root {
    --color-principal-hover: #CC8FAE; /* Color principal rosa oscuro hover de marca */
    --color-principal-oscuro: #B54885; /* Color principal rosa oscuro de marca */
    --color-acento: #FFD6EB; /* Rosa pastel claro */
    --color-dorado: #E8C495; /* Acento dorado */
    --color-fondo: #FFF8F9; /* Fondo casi blanco cálido */
    --color-texto-oscuro: #2C2C2C; /* Texto principal oscuro */
    --color-texto-claro: #FFFFFF; /* Texto claro */
    --sombra-suave: rgba(0, 0, 0, 0.15);
}

.tabla-global {
    width: auto;
    border-collapse: separate;
    border-spacing: 0;
}

    .tabla-global thead {
        background: var(--color-principal-oscuro);
        color: var(--color-texto-claro);
    }

    .tabla-global th {
        font-weight: 600;
        text-align: center;
        position: sticky;
        top: 0;
    }

    .tabla-global td {
        border-bottom: 1px solid var(--color-principal-hover);
    }

    .tabla-global th,
    .tabla-global td {
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        padding: 0.5rem;
    }

    .tabla-global tbody tr {
        background-color: var(--color-texto-claro);
    }

    .tabla-global tbody tr:last-child td {
        border-bottom: none;
    }

        .tabla-global tbody tr:hover,
        .tabla-global tbody tr:hover td {
            background-color: var(--color-principal-hover);
            color: var(--color-texto-claro);
        }

.container .tabla-global {
    width: auto;
    min-width: 100%;
    max-width: 800%;
}